Amgalan-ochir Chuluunbaatar
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 10px;
    height : 200px;
    width : 900px ;
    align-items: center;
    /* padding-left : 200px; */
    /* padding-right : 200px; */
  }
  .grid svg{
    float: right;
    height : 150px;
  }
  .grid svg h2{
    padding-right: 200px;
  }
/* .grid h2{ */
    /* padding-left : 200px; */
    /* padding-right: 200px; */

.grid p{
    font-size : 20px;
    margin : 10px 10px;
}
a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505050;
}
.layout-header{
    position: relative;
    height: 84px;
    background: #fff;
    z-index: 9;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
    border-bottom: 1px solid #eee;
    padding: 0px 32px;
}
.layout-main {
    padding-left :100px;
}
.layout-header .layout-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    
}
.img-logo{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.img-logo span{
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #313131;
}
.l-blog .breadcrumb {
    border-bottom: 1px solid #eee;
  }
  
  .l-blog .breadcrumb nav {
    margin: auto;
    max-width: 810px;
  }
  
  .l-blog .breadcrumb a, .l-blog .breadcrumb span {
    font-size: 13px;
    line-height: 25px;
    color: #505050ff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 25px;
    display: inline-block;
    position: relative;
  }
  
  .arrow{background-image:url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNCcgaGVpZ2h0PSc5JyBmaWxsPSdub25lJz48ZGVmcy8+PHBhdGggZmlsbD0nIzAwMCcgZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMTIuNSA0LjM3NmEuNjI1LjYyNSAwIDAxLS42MjUuNjI1SC42MjVhLjYyNS42MjUgMCAwMTAtMS4yNWgxMS4yNWEuNjI1LjYyNSAwIDAxLjYyNS42MjV6JyBjbGlwLXJ1bGU9J2V2ZW5vZGQnLz48cGF0aCBmaWxsPScjMDAwJyBmaWxsLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xMy41NjcgMy45MzNhLjYyNS42MjUgMCAwMTAgLjg4NWwtMy43NSAzLjc1YS42MjYuNjI2IDAgMTEtLjg4NS0uODg1bDMuMzEtMy4zMDctMy4zMS0zLjMwOGEuNjI2LjYyNiAwIDExLjg4NS0uODg1bDMuNzUgMy43NXonIGNsaXAtcnVsZT0nZXZlbm9kZCcvPjwvc3ZnPg==);
    background-size:cover;
    width:14px;
    height:9px}
  
  .l-blog .blog-post {
    overflow: auto;
    background-color: #fff;
    margin: auto;
    max-width: 810px;
    padding-bottom: 100px;
  }
  
  .l-blog .blog-post h1 {
    font-size: 40px;
    line-height: 52px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  
  .l-blog .blog-post h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  
  .l-blog .blog-post p:not(.brand-text) {
    line-height: 28px;
    font-size: 18px;
    color: #313131ff;
    margin-bottom: 25px;
  }
  
  .l-blog .blog-post a.btn {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .l-blog .blog-post a.link {
    text-decoration: underline;
    font-size: 18px;
  }
  
  .l-blog .blog-post img,
  .l-blog .blog-post svg {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .l-blog .blog-post img.full-width {
    max-width: 813px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    width: 100%;
  }
  
  .l-blog .blog-post ol {
    padding: 19px 38px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
    list-style: none;
    counter-reset: li;
    margin-top: 30px;
    margin-bottom: 22px;
    font-size: 18px;
  }
  
  .l-blog .blog-post ol li::before {
    content: counter(li);
    color: #313131ff;
    background: #ececec;
    display: inline-block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    border-radius: 100%;
    margin-left: -1em;
    text-align: center;
    margin-right: 10px;
  }
  
 .blog-post ol li {
    counter-increment: li;
    padding-bottom: 10px;
    display: inline-block;
    width: calc(100% - 35px);
    vertical-align: top;

  }
  
  
.blog-post ol.green {
    background: rgba(39, 174, 96, .05);
    border: none;
  }
  
.blog-post ol.green li::before {
    background: #27ae60;
    color: #fff;
  }
  
.blog-post ul {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
.blog-post ul li {
    padding-bottom: 20px;
    line-height: 26px;
  }
  
.blog-post ul.sad {
    background: rgba(243, 156, 18, .1);
    border-radius: 5px;
    padding-top: 18px;
    list-style: none;
    padding-left: 26px;
  }
  
.page-title span{
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: #313131;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.user-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.all-tools-icon{
    background-image: url("/tools.svg");
    display: inline-block;
    margin-right: 5px;
    background-size: cover;
    width: 10px;
    height: 10px;
}
.sign-up-btn{
    border: 2px solid;
    border-radius: 100px;
    background-color: #fff;
    transition: all 150ms linear!important;
    color: #e74c3c;
    border-color: #e74c3c!important;
    font-size: 14px;
    padding: 10px 22px;
}
.layout-main{
    margin: 5rem 0;
}
.layout-container .content-wrapper {
    max-width: 1224px;
    margin: auto;
    position: relative;
}
.content-wrapper form{
        width: 436px;
        max-width: 100%;
        margin: auto;
}
.social-buttons{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.social-buttons .btn{
    width: 100%;
    padding: 8px 5px;
    font-size: 18px;
    line-height: 23px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.social-buttons .google{
    transition: all 300ms;
    border-radius: 100px;
    color: #313131;
    font-weight: 700;
    text-align: center;
    background: #fafafa;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}
.social-buttons .facebook{
    background-color: #3b5995;
    color: #fff;
    transition: all 300ms;
    border-radius: 100px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #3b5995;
    cursor: pointer;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}
.strike span {
    position: relative;
    display: inline-block;
    color: #313131;
    font-size: 16px;
    font-weight: 400;
}
.strike span:before {
    box-sizing: border-box;
    right: 100%;
    margin-right: 15px;
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eee;
}
.strike span:after {
    box-sizing: border-box;
    left: 100%;
    margin-left: 15px;
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eee;
}
.input-group{
    position: relative;
}
.input-group input {
    position: relative;
    display: block;
    background: #fff;
    border: 2px solid #ede7e7;
    box-sizing: border-box;
    border-radius: 4px;
    height: 51px;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: #313131;
}
.password{
    display: flex;
}
.input-group span{
    position: absolute;
    top: 15px;
    right: 15px;
}
.actions button{
    background-color: #e74c3c;
    border: none;
    color: #fff!important;
    width: 100%;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 100px;
    padding: 20px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.margin-auto{
    margin: auto;
    text-align: center;
    margin-top: 1rem;
}
.margin-auto a{
    color: #3498db;
}
form hr {
    border-top: 1px solid #eee;
    margin: 1rem 0;
}
footer{
    padding: 40px 32px;
    border-top: 1px solid #eee;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    margin: auto;
}
footer .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
footer ul{
    list-style: none;
    margin-top: 20px;
}
footer ul li{
    padding-bottom: 10px;
}
footer ul li a{
    font-size: 16px;
    line-height: 20px;
}
footer .social{
    text-align: center;
    max-width: 180px;
}
.counter-wrapper hr {
    border-top: 1px solid #eee;
    margin: 1rem 0;
}
.brand-text{
    color:#e74c3c;
    font-weight: 400;
    font-size: 30px;
}
.social-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.footer-bottom{
    border-top: 1px solid #eee;
    padding-top: 40px;
}
.footer-bottom .content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom .language .language-button .icon {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("/icon.svg");
    background-size: 11px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center;
}
.footer-bottom .language .language-button{
    display: flex;
}
@media(max-width:520px) 
{
    /* body{
        padding: 0 0 0 ;
        m
    } */
    .logo-wrapper .logo-text{
        font-size: 18px;
    }
    a{
        font-size: 10px;
    }
    /* .page-title{
        font-size: 10px;
    } */
    .layout-header-nav a{
        font-size: 10px;
    }
    .header-links{
        display: none;
    }
    .layout-header-nav{
        padding: 0px;
        /* margin: 0; */
    }
    .layout-header{
        height: 70px;
    }
    .grid {
        display:contents;
        grid-template-columns: auto auto auto;
    
        padding: 10px;
        height : 200px;
        width :100%;
        /* align-items: center; */
        /* align-items: start; */
        /* padding-left : 200px; */
        /* padding-right : 200px; */
      }
      .grid svg{
        float: right;
        height : 150px;
      }
   
     footer{
        display: none;
     } 
     .grid p{
        font-size : 12px;
        /* margin : 0px 0px; */
        padding-right: 0px;
        text-align: left;
    }
    .layout-main {
        padding-left :60px;
    }
    .layout-container{
        align-items: center;
    }
}